<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.isisandroid"
    android:versionCode="1"
    android:versionName="1.0" >
	<uses-permission android:name="android.permission.INTERNET" />
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.dimuthuupeksha.activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
         <activity
            android:name="com.dimuthuupeksha.activity.HomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.HOME" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
         <activity
            android:name="com.dimuthuupeksha.activity.ServiceViewActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.LISTVIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
         <activity
            android:name="com.dimuthuupeksha.activity.ActionViewActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.ACTIONVIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
         <activity
            android:name="com.dimuthuupeksha.activity.InvokeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.INVOKEVIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

         
        <activity
            android:name="com.dimuthuupeksha.activity.ResultViewActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.RESULTVIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
         
    </application>

</manifest>